* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;
    font-family: Inter, serif;
}

nav {
    display: flex;
    box-shadow: 0px 0px 1.26px rgba(0, 0, 0, 0.3);;
}




.responsive-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 68px;
    margin: 0px auto;
    


}



.nav-links {
    width: 623.33px;
    display: flex;
    justify-content: flex-end;



}

.nav-links>li {
    padding: 20px;
    list-style-type: none;
    color: rgb(102, 102, 102);
    font-size: 0.9rem;
    line-height: 1.7;
    display: inline-block;
    font-weight: 400;
    transition: color 0.3s;
}

.zerodha {
     width: 432px;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    

}

h1 {
    display: block;
    color: #424242;
    font-size: 1.75rem;
    line-height: 1.25;
    margin: 0px auto;
    text-align: center;
    font-weight: 500;
}
p {
    display: block;
    color: #424242;
    font-size: 1.25rem;
    line-height: 1.8;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 400;
    
}

button {
    margin: 0px auto;
    width: 204.377px;
    height: 45.04px;
    margin-top: 25px;
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    cursor: pointer;


}

button:hover {
    background-color: #000;
}

.nav-links>li:hover {
    color: #387ed1;
    cursor: pointer;
}
