* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    box-shadow: 0px 0px 1.26px rgba(0, 0, 0, 0.3);;
}




.responsive-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 68px;
    margin: 0px auto;
    


}



.nav-links {
    width: 623.33px;
    display: flex;
    justify-content: flex-end;



}

.nav-links>li {
    padding: 20px;
    list-style-type: none;
    color: #666;
    font-size: 0.9rem;
    line-height: 1.7;
    display: inline-block;
    font-weight: 400;
}

.zerodha {
     width: 432px;

}

